<% flash.each do |type, message| %>
  <div class="container alert <%= bootstrap_class_for(type) %> alert-dismissable flash-message text_center">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= t(message) %>
  </div>
<% end %>